apiVersion: 1

providers:
- name: 'Transit Dashboards'
  orgId: 1
  folder: 'transit'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}/transit'
