apiVersion: 1

providers:
- name: 'Main Home Dashboards'
  orgId: 1
  folder: 'main-home'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}/main-home'
