apiVersion: 1

providers:
- name: 'Bikeshare Dashboards'
  orgId: 1
  folder: 'bikeshare'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}/bikeshare'
