apiVersion: 1

providers:
- name: 'Mimir Dashboards'
  orgId: 1
  folder: 'Mimir'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}/mimir'
