apiVersion: 1

providers:
- name: 'Tempo Dashboards'
  orgId: 1
  folder: 'tempo'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}/tempo'
