apiVersion: 1

providers:
- name: 'Battlecode Dashboards'
  orgId: 1
  folder: 'battlecode'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}/battlecode'
