apiVersion: 1

providers:
- name: 'Kafka Dashboards'
  orgId: 1
  folder: 'Kafka'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}/kafka'
